@import "node_modules/bootstrap/scss/bootstrap";

// GENRALI
body{
    font-family: 'Montserrat', sans-serif;
}

ul{
     list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

//MIXIN
@mixin button-base{
    border: 0px;
    background-color: $main-yellow;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
}
@mixin hr-base{
    margin: 30px auto;
    width: 20%;
    height: 3px;
    background-color: $main-yellow;
    border: none;
    border-radius: 10px;
}